# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [11]:
import pandas as pd
Iris=pd.read_csv(r"C:\Users\yuvaraj_2\Downloads/Iris.csv")

### Find out the datatypes of each and every column

In [13]:
Iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
Sepal Length (in cm)    150 non-null float64
Sepal Width in (cm)     150 non-null float64
Petal length (in cm)    150 non-null float64
Petal width (in cm)     150 non-null float64
Class                   150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

### Print top 10 & bottom 10 samples from the dataframe

In [19]:
Iris.head(10)
Iris.tail(10)

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

### Find the shape of the dataset

In [16]:
Iris.shape

(150, 5)

### Set the index of the dataframe to be the first column

In [25]:
Iris1=Iris.set_index(Iris.columns[0])
Iris1

,Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
Sepal Length (in cm),,,,
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...
6.7,3.0,5.2,2.3,Iris-virginica
6.3,2.5,5.0,1.9,Iris-virginica
6.5,3.0,5.2,2.0,Iris-virginica
6.2,3.4,5.4,2.3,Iris-virginica
5.9,3.0,5.1,1.8,Iris-virginica

### Use iloc function to print all the rows of the 3rd column

In [18]:
Iris.iloc[:,2]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: Petal length (in cm), Length: 150, dtype: float64

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [34]:
a=Iris[['Sepal Length (in cm)','Sepal Width in (cm)']]
a.head(10)

   Sepal Length (in cm)  Sepal Width in (cm)
0                   5.1                  3.5
1                   4.9                  3.0
2                   4.7                  3.2
3                   4.6                  3.1
4                   5.0                  3.6
5                   5.4                  3.9
6                   4.6                  3.4
7                   5.0                  3.4
8                   4.4                  2.9
9                   4.9                  3.1

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

In [36]:
Iris[Iris['Class']=='Iris-setosa']

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
11,4.8,3.4,1.6,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
17,5.1,3.5,1.4,0.3,Iris-setosa
18,5.7,3.8,1.7,0.3,Iris-setosa
19,5.1,3.8,1.5,0.3,Iris-setosa
20,5.4,3.4,1.7,0.2,Iris-setosa
21,5.1,3.7,1.5,0.4,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
23,5.1,3.3,1.7,0.5,Iris-setosa
24,4.8,3.4,1.9,0.2,Iris-setosa
25,5.0,3.0,1.6,0.2,Iris-setosa
26,5.0,3.4,1.6,0.4,Iris-setosa
27,5.2,3.5,1.5,0.2,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
29,4.7,3.2,1.6,0.2,Iris-setosa
30,4.8,3.1,1.6,0.2,Iris-setosa
31,5.4,3.4,1.5,0.4,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
34,4.9,3.1,1.5,0.1,Iris-setosa
35,5.0,3.2,1.2,0.2,Iris-setosa
36,5.5,3.5,1.3,0.2,Iris-setosa
37,4.9,3.1,1.5,0.1,Iris-setosa
38,4.4,3.0,1.3,0.2,Iris-setosa
39,5.1,3.4,1.5,0.2,Iris-setosa
40,5.0,3.5,1.3,0.3,Iris-setosa
41,4.5,2.3,1.3,0.3,Iris-setosa
42,4.4,3.2,1.3,0.2,Iris-setosa
43,5.0,3.5,1.6,0.6,Iris-setosa
44,5.1,3.8,1.9,0.4,Iris-setosa
45,4.8,3.0,1.4,0.3,Iris-setosa
46,5.1,3.8,1.6,0.2,Iris-setosa
47,4.6,3.2,1.4,0.2,Iris-setosa
48,5.3,3.7,1.5,0.2,Iris-setosa
49,5.0,3.3,1.4,0.2,Iris-setosa

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

In [38]:
Iris['SepalExtra']=Iris['Sepal Length (in cm)']*Iris['Sepal Width in (cm)']
Iris

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class,SepalExtra
0,5.1,3.5,1.4,0.2,Iris-setosa,17.85
1,4.9,3.0,1.4,0.2,Iris-setosa,14.70
2,4.7,3.2,1.3,0.2,Iris-setosa,15.04
3,4.6,3.1,1.5,0.2,Iris-setosa,14.26
4,5.0,3.6,1.4,0.2,Iris-setosa,18.00
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,20.10
146,6.3,2.5,5.0,1.9,Iris-virginica,15.75
147,6.5,3.0,5.2,2.0,Iris-virginica,19.50
148,6.2,3.4,5.4,2.3,Iris-virginica,21.08
149,5.9,3.0,5.1,1.8,Iris-virginica,17.70

### Find out the mean and variance for each column but for class column

In [45]:
Iris.mean()
Iris.var()
Iris.describe()

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class,SepalExtra
count,150.000000,150.000000,150.000000,150.000000,150,150.000000
unique,NaN,NaN,NaN,NaN,3,NaN
top,NaN,NaN,NaN,NaN,Iris-versicolor,NaN
freq,NaN,NaN,NaN,NaN,50,NaN
mean,5.843333,3.054000,3.758667,1.198667,NaN,17.806533
std,0.828066,0.433594,1.764420,0.763161,NaN,3.368693
min,4.300000,2.000000,1.000000,0.100000,NaN,10.000000
25%,5.100000,2.800000,1.600000,0.300000,NaN,15.645000
50%,5.800000,3.000000,4.350000,1.300000,NaN,17.660000
75%,6.400000,3.300000,5.100000,1.800000,NaN,20.325000
max,7.900000,4.400000,6.900000,2.500000,NaN,30.020000

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

In [58]:
def func(a,b):
    return a,b

print(Iris.loc[4,'Sepal Length (in cm)'],Iris.loc[4,'Sepal Width in (cm)'])

5.0 3.6

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

In [76]:
a=Iris.describe()
b=a.loc['min',:]
c=a.loc['max',:]
print("Range",c-b)

Range Sepal Length (in cm)    3.6
Sepal Width in (cm)     2.4
Petal length (in cm)    5.9
Petal width (in cm)     2.4
dtype: float64

### Sort the entire dataset according to the column Petal width

In [46]:
Iris.sort_values(by=['Petal width (in cm)'])

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class,SepalExtra
32,5.2,4.1,1.5,0.1,Iris-setosa,21.32
13,4.3,3.0,1.1,0.1,Iris-setosa,12.90
37,4.9,3.1,1.5,0.1,Iris-setosa,15.19
9,4.9,3.1,1.5,0.1,Iris-setosa,15.19
12,4.8,3.0,1.4,0.1,Iris-setosa,14.40
...,...,...,...,...,...,...
140,6.7,3.1,5.6,2.4,Iris-virginica,20.77
114,5.8,2.8,5.1,2.4,Iris-virginica,16.24
100,6.3,3.3,6.0,2.5,Iris-virginica,20.79
144,6.7,3.3,5.7,2.5,Iris-virginica,22.11
109,7.2,3.6,6.1,2.5,Iris-virginica,25.92

### Remove the new column "SepalExtra" from the dataframe

In [47]:
Iris.drop('SepalExtra',axis=1,inplace=True)

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

In [50]:
a=Iris.head(10)
IrisSubset=a.iloc[:,:3]
IrisSubset

   Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)
0                   5.1                  3.5                   1.4
1                   4.9                  3.0                   1.4
2                   4.7                  3.2                   1.3
3                   4.6                  3.1                   1.5
4                   5.0                  3.6                   1.4
5                   5.4                  3.9                   1.7
6                   4.6                  3.4                   1.4
7                   5.0                  3.4                   1.5
8                   4.4                  2.9                   1.4
9                   4.9                  3.1                   1.5

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [ ]:
import numpy as np
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [94]:
panda_file=pd.read_csv(r"C:\Users\yuvaraj_2\Downloads\hr")

FileNotFoundError: [Errno 2] File b'C:\\Users\\yuvaraj_2\\Downloads\\hr' does not exist: b'C:\\Users\\yuvaraj_2\\Downloads\\hr'

### Print the no of rows and columns in the dataset

In [89]:
print("No of rows:",panda_file.shape[0])
print("No of columns:",panda_file.shape[1])

No of rows: 150
No of columns: 5

### Find out the type of each and every column in the dataset

In [92]:
panda_file.dtypes

Sepal Length (in cm)    float64
Sepal Width in (cm)     float64
Petal length (in cm)    float64
Petal width (in cm)     float64
Class                    object
dtype: object

### Print out all the rows from 3rd column to 10th columns

In [93]:
panda_file.iloc[:,2:11]

     Petal length (in cm)  Petal width (in cm)           Class
0                     1.4                  0.2     Iris-setosa
1                     1.4                  0.2     Iris-setosa
2                     1.3                  0.2     Iris-setosa
3                     1.5                  0.2     Iris-setosa
4                     1.4                  0.2     Iris-setosa
..                    ...                  ...             ...
145                   5.2                  2.3  Iris-virginica
146                   5.0                  1.9  Iris-virginica
147                   5.2                  2.0  Iris-virginica
148                   5.4                  2.3  Iris-virginica
149                   5.1                  1.8  Iris-virginica

[150 rows x 3 columns]

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

### Find out the mean, median and variance for the column - DailyRate

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

### Plot Total working years using matplotlib plot function